
#carousel{
    width: 80em;
    position: relative;
    overflow: hidden;
    
}
#container{
    
    width: 90em;
    transition: ease-in-out 0.5s;
    
}
.grid-5{
    display: inline-block;
    width: 80em;
}
.grid-item{
    display: inline-block;
    width:fit-content;
    height: fit-content;
    margin: 0em;
}

.pic{
    width: calc(70em/5);
    border-radius: 10px 10px 10px 10px;

}
.grid-item>.pic:first-child{
    margin-left: 1.7em;
}
.grid-item>.pic:nth-child(2),.grid-item>.pic:nth-child(4){
    margin-left: 1em;
    margin-right: 1em;
}

.btn{
    position: absolute;
    cursor: pointer;
    width: 10em;
    opacity: 0.6;
    
}
#g{
    top: 0em;
    left: 1.65em;
    transform:rotate(0deg);
    
}
#d{
    top: .1em;
    right: 1.4em;
    transform:rotate(180deg);
}

 /* btn Next */
.next {
    position: absolute;
    width: 3.2em;
    height: 21em;
    opacity: 1;
    z-index: 1;
    background-color: rgba(63, 63, 63, 0.452);
    border-radius:  1em 0em 0 1em ;


    
  }
  .next:hover {
    opacity: 0.5;
    transition: ease-in-out 0.3s;
  }
  .next:before, .next:after {
    position: absolute;
    left: 1.5em;
    content: ' ';
    height: 3.3em;
    width: 0.2em;
    background-color: #fff;
    
  }
  .next::before{
    transform: rotate(20deg);
    top : 7.35em;
  }
  .next:after{
      bottom : 7.35em;
    transform: rotate(-20deg);
  }
 
  /* Resp à revoir */
  @media screen and (max-width: 843px) {
    .btn,.grid-5>li:nth-child(5),.grid-5:nth-child(2),.grid-5:nth-child(3){
        display: none;
    }
    main{
        margin: 0%;
    }
   
    .grid-5{
        width:fit-content;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1em;
        padding: 2em;
    }
    .pic{
        margin-left:0em;
    }


}