@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
body{
    font: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(54, 53, 53);
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}
header{
    overflow: hidden;
    background-color: #2c2c2cb2;
}
header>a>img{
    float: left;
    width: 10rem;
    height: 10rem;
    padding-left: 2em;
    padding-right: 1em;
}
header>a>h1{
    padding-left: 1em;
    margin-top: 1em;
    font-family: "Gotham";
    margin-bottom: 2rem;
    font-size: xx-large;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1em;
}
.bicolor{
    color: #ff725c;
    
}
section:nth-child(1){
    overflow: hidden;
    display: flex;
    justify-content: center;
}

section{
    margin-top: 2em;
    overflow: hidden;
}
main{
    margin-left: 15%;
    margin-right: 15%;
}
fieldset legend{
    font-size: 2rem;
    padding: 1rem;
    
}
fieldset{
    border: solid .1rem #fff;
    background-color: #74747496;
    border-radius: .4rem;
    padding: 2em;
    margin: 0 10% 0 10%;
}
fieldset form *{
    display: block;
    width: 100%;
    line-height: 3.5rem;
    margin-bottom: .5rem;
}
fieldset form label, fieldset small{
    border: 0;
}

label{
    display: block;
    font-size:medium;
}
h2{
    font-size: x-large;
    font-weight: 500;
}
input,select{
    background-color: rgba(53, 53, 53, 0.748);

    height: 4rem;
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    color:#fff;
    padding: 1em;
    font-size: initial;
}
input:last-child{
    border: 0;
    margin-top: 3rem;
    background-color: #ff725c;
    transition: background-color 0.5s;
    padding: 0em;
}
input:last-child:hover{
    background-color: rgba(255, 26, 18, 0.5); ;
}

footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer>p{
    text-align: center;
}

