@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
body{
    font: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(54, 53, 53);
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

header{
    text-align: center;
    overflow: hidden;
}
header>a>img{
    width: 10rem;
    height: 10rem;
}
header>h1{
    margin-bottom: 2rem;
    font-size: xx-large;
    font-weight: 700;
    color: #fff;
}


main{
    margin-left: 16rem;
    margin-right: 16rem;
}
section>h2{
    font-weight: 500 ;
    text-align: center;
    font-size: 2rem;
}
section>p{
    font-size: medium;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
ol{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 2em;
    float: left;
    


}
li{
    width: 10rem;
    height: 14.5rem;
}
a{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    
}
a>p{
    text-align: center;
    color: #fff;
    font-size:large;
    font-weight: 500;
    background-color: rgba(255, 26, 18,1);
    padding: 0.5em;
    padding-left: 5em;
    padding-right: 5em;
    transition: background-color 0.5s;
}
a>p:hover{
     background-color: rgba(255, 26, 18, 0.5); ;
}
section:nth-child(2){
    overflow: hidden;
    display: flex;
    justify-content: center;
}
li{
    margin: 1em;
}
li>img{
    width: 100%;
}
footer{
    margin-top: 2rem;
}
footer>p{
    text-align: center;
}